
          body {
            font-family: sans-serif;
            text-align: center;
            padding: 0 2rem 2rem 2rem;
            font-size: 1.125rem;
            line-height: 1.5;
          }

          h1 {
            font-size: 5rem;
            font-weight: bolder;
            margin-bottom: .5rem;
            margin-top: 0;
          }

          p {
            margin-bottom: .5rem;
            color: tomato;
            font-weight: 800;
            font-size: 2rem;

          }
          .pic {
            width: 640px;
            height: 483px;
          }

          @media (max-width: 959px) {

            img {
              max-width: 100%;
            }
          }