
body {
  font-family: sans-serif;
  text-align: center;
  padding: 0 2rem 2rem 2rem;
  font-size: 1.125rem;
  line-height: 1.5;
}
body.home {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  margin-top: 2rem;
  line-height: 36px;
}

body.home h1 {
  color: #0d2e9b;
}

h1, h2, h3 {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

a{
  text-decoration: none;
  color: #0d2e9b;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
  color: #6b66b8
}

.mock-wrapper {
  width: 940px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 16px;
}

.home .mock-wrapper {
  width: 1200px;
}

.mock-header-wrapper {
  width: 100%;
  background-color: white;
  margin: 0;
  border-bottom: 1px dotted #0d2e9b;
  padding-bottom: 20px;
}

.mock-header {
  width: 940px;
  margin: 0 auto;
}

.mock-regular {
  color: #333;
  font-family:Arial, Helvetica, sans-serif;
}

.mock-bio, .mock-header {
  display: flex;
  justify-content: flex-start;
}

.mock-bio h1 {
  font-size: 2.5rem;
  line-height: 30px;
}

.mock-content h2, .mock-bio h2 {
  font-size: 1.5rem;
  line-height: 26px;
}

.mock-content h2 {
  color: #0d2e9b;
}

.mock-bio-text, .mock-content, .mock-header-text {
  text-align: left;
  font-size: 1.2rem;
  line-height: 24px;
}

.mock-header-text {
  margin-left: 20px;
}

.mock-content ul li {
  margin-bottom: 10px;
}

.mock-issue, .mock-bold {
  font-weight: bold;
}

p.mock-bright {
  margin: 10px 0;
  color: #e61115;
  font-weight: 400;
  font-size: 1rem;
}

.mock-center {
  text-align: center;
}

.pic {
  width: 320px;
  height: auto;
}

.schmidt {
  width: 250px;
  height: 320px;
  margin-right: 30px;
}


.card-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 20px 20px 20px;
 }

.card-wrap {
  width: 33.333%;
}

.card {
   width: 320px;
   border: 1px solid #ccc;
   display: flex;
   flex-direction: column;
   background-color: white;
   margin: 0;
   }

.card.store {
  width: 530px;
}

 .card-image {
   height: 370px;
   margin: 0 auto;
  }

.card-image img {
  max-height: 370px;
  width: auto;

}

 .card h2 {
     margin: 0;
     padding: 10px 0;
     text-align: center;
     line-height: 1.2;
     width: 100%;
     display: inline-block;
     vertical-align: middle;
     cursor: pointer;
     background-color: #eee;
 }

 .card img:hover {
   cursor: pointer;
   opacity: 0.8;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   overflow: hidden;
 }

 .card p {
   padding: 0 10px;
   font-family: Arial,Helvetica,sans-serif;
   margin-bottom: 0;
 }

 .card-content {
   flex: 0 1 180px;
 }

 .card-content.store {
   flex: 0 1 300px;
 }

 .card .adjusted {
   width: 180px;
   height:  220px;
   margin-top: 40px;
 }

 .mock-footer {
   color:#0d2e9b;
   padding: 2rem;
   width: 100%;

 }


 @media (max-width: 1199px) {
  .home .mock-wrapper {
    width: 100%;
    margin: 0 auto;
    }
    .card-row {
      padding: 0;
      margin: 0;
    }
 }

@media (max-width: 959px) {
  h1 {
    padding-top: 15px;
    font-size: 2rem;
    line-height: 36px;
  }
  img {
    max-width: 100%;
    height: auto;
    border: none;
    display: block;
    margin: 0 auto;
  }
  img.pic {
    width: auto;
    height: auto;
  }
  .mock-wrapper {
    width: 100%;
    margin: 10px 0;
  }
  .mock-bio {
    flex-direction: column;
  }
  .mock-bio img {
    margin: 0 auto;
  }
  .mock-bio h1 {
    font-size: 2rem;
    line-height: 30px;
  }

  .mock-content {
    border-top: 1px solid #efefef;
  }

  .mock-content h2, .mock-bio h2 {
    font-size: 1.5rem;
    line-height: 26px;
  }

  .mock-header {
    width: 100%;
    flex-wrap: wrap;
  }
  .mock-header-text {
    margin: 0;
    max-width: 100%;
    padding: 0 5%;
  }

  .mock-footer {
    padding: 0;
  }
  .card-row {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .card-wrap {
    width: 100%;
    margin: 0 auto;
  }
  .card {
    margin: 0 auto;
    margin-bottom: 10px;
  }

}